<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Granorte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="box">
        <h1>Visão Granorte</h1>
        <h3>Bem-vindo à Visão Granorte!</h3> 
        <h3>Informacoes do caminhao</h3>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="imagem" required>
            <button type="submit">Analisar Caminhao</button>
        </form>
        {% if imagem %}
        <img src="{{ url_for('static', filename=imagem) }}" class="imagem-caminhao">
        {% endif %}
        <div>
            <p>Placa: {{ placa }}</p>
            <p>Peso: {{ peso }}</p>
            <p>Status: {{ status }}</p>
            <p>Carga: {{ carga }}</p>
            <p>Fraude: {{ fraude }}</p>
        </div>
        <h3>Aqui você pode acessar as seguintes funcionalidades:</h3>
        <ul>
            <li> Leitura automatica de placas </li>
            <li> Verificacao de cargas </li>
            <li> Controle de entrada e saida </li>
            <li> Deteccao de fraude na pesagem</li>
            <li> Analise da cacamba</li>
        </ul>
        <p class="status">Sistema Operando</p>
        <footer id="rodape">Sistema desenvolvido para controle logistico e 
            automacao operacional utilizando IA</footer>
    </div>
</body>
</html>